@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <img src="~/image/bannerChenille.jpg    " alt="" class="background img-fluid">
    <div class="text">
        <p class="fw-bold">Chenille Cafe</p>
        <p class="fw-bolder">Hương Vị Cổ Điển.<br>Không Gian Sang Trọng.</p>
        <button type="button" class="btn btn-light">Tìm hiểu thêm</button>
    </div>
</div>
